.section-padding {
    padding: 200px 0px 200px 0px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.body {
    padding: 0 10% 0 10%;
}

// @media screen and (max-width: 480px)  {
//     .body {
//         padding: 0 50px 0 50px;
//     }
// }
