.section-padding {
    padding: 200px 0px 200px 0px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.body {
    padding: 0 10% 0 10%;
}

.education-skill-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.education-section {
    padding: 0px 50px 0px 0px;
}

@media screen and (max-width: 480px)  {
    .education-section {
        padding: 0px 0px 50px 0px;
    }
    .education-skill-section {
        justify-content: flex-start;
    }
}
