.section-padding {
    padding: 200px 0px 200px 0px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.body {
    padding: 0 10% 0 10%;
    overflow-x:hidden;
}

.education-skill-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.education-section {
    padding: 0px 50px 0px 0px;
}

.skills-section {
    width: 50%;
}

@media screen and (max-width: 480px)  {
    .education-section {
        padding: 0px 0px 50px 0px;
        width: 100%;
    }
    .education-skill-section {
        justify-content: flex-start;
    }
    .skills-section {
        width: 100%;
    }
}
