<app-header></app-header>
<div class="body">
    <div class="section-padding">
        <app-splash></app-splash>
    </div>
    <div class="section-padding">
        <app-about-me ></app-about-me>
    </div>
    <div class="education-skill-section section-padding">
        <div class="education-section">
            <app-experience></app-experience>
        </div>
        <div class="skills-section">
            <app-skills></app-skills>
        </div>
    </div>
    <div class="section-padding">
        <app-projects></app-projects>
    </div>
</div>