<div style="font-size: 24px; font-weight: bold; padding-bottom: 20px;">Skills</div>
<div [ngClass]="{'appear return': divAppear, 'noAppear slide-right': !divAppear}" appAppear [singleAppear]='false' (appear)="appear($event)" style="display: flex;flex-direction: column;justify-content: space-around;height: 80%;">
    <app-skill-card [skillInfo]='cSharpInfo'></app-skill-card>
    <app-skill-card [skillInfo]='javaScriptInfo'></app-skill-card>
    <app-skill-card [skillInfo]='sqlInfo'></app-skill-card>
    <app-skill-card [skillInfo]='angularInfo'></app-skill-card>
    <app-skill-card [skillInfo]='reactInfo'></app-skill-card>
    <app-skill-card [skillInfo]='awsInfo'></app-skill-card>
    <app-skill-card [skillInfo]='CPlusPlusinfo'></app-skill-card>
    <app-skill-card [skillInfo]='kotlinInfo'></app-skill-card>
    <app-skill-card [skillInfo]='JavaInfo'></app-skill-card>
    <app-skill-card [skillInfo]='androidInfo'></app-skill-card>
</div>