<div class="project-card-wrapper">
    <div class="preview-wrapper">
        <img class="preview-image" [src]='projectInfo.imgSrc'>
    </div>
    <div (click)="toggleOpen()" style="font-weight: bold;font-size:16px; padding-bottom: 5px; display: flex;justify-content: space-between;">
        <div>
            {{projectInfo.title}}
        </div>
        <div>
            <i [ngClass]="{up: isOpen, down: !isOpen}" class="arrow"></i>
        </div>
    </div>
    <div style="display: flex; padding-bottom: 5px;">
        <div *ngFor="let item of projectInfo.languages">
            {{item}}&nbsp;
        </div>
    </div>
    <div [ngClass]="{fullHeight: isOpen, noHeight: !isOpen}">
        <div>
            Description: {{projectInfo.description}}
        </div>
        <div class="breaking-div"></div>
        <div>
            Reason I created it: {{projectInfo.reason}}
        </div>
        <div class="breaking-div"></div>
        <div>
            Inerest: {{projectInfo.interestNumber}}
        </div>
        <div>
            {{projectInfo.year}} {{getGroupText()}}
        </div>
    </div>
    <div style="display: flex;">
        <div *ngFor="let item of projectInfo.LinkInfo" style="padding-top: 5px; padding-right: 5px;">
            <a [href]='item.linkUrl'>
                <img class="link-image" [src]="item.linkImgSrc">
            </a>
        </div>
    </div>
</div>