.preview-image {
    opacity: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: opacity .2s;

    &:hover {
        opacity: .3;
        transition: opacity .2s;
    }
}


.preview-wrapper {
    height: 200px;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
}

.link-image {
    object-fit: contain;
    width: 25px;
}

.project-card-wrapper {
    width: 300px; 
    padding: 5px 5px 5px 5px; 
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    transition-duration: .5s;
}

.project-card-wrapper:hover {
  transition-duration: .5s;
  transform: scale(1.1);
}

.arrow {
    border: solid black;
    margin-left: 25px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .fullHeight {
    max-height: 300px;
    transition-duration: .75s;
    overflow: hidden;
  }
  
  .noHeight {
    max-height: 0px;
    transition-duration: .75s;
    overflow: hidden;
  }
  