.quick-link-wrapper {
    position:fixed;
    width: 40px;
    height: 250px;
    bottom: 50px;
    left: 25px;
}

.quick-link-footer {
    border-left: 2px solid black;
    height: 200px;
    margin-left: 18px;
}

.image-link-wrapper {
    padding-bottom: 15px;
}

.image-link-wrapper img {
    width: 100%;
    object-fit: contain;
    opacity: 1;
}

.image-link-wrapper img:hover{
    opacity: .5;
    transition-duration: .2s;
}

@media screen and (max-width: 480px) {
    .quick-link-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
    }

    .quick-link-footer {
        display: none;
    }

    .image-link-wrapper img {
        height: 100%;
        padding: 5px 10px 5px 10px;
        width: auto;
        object-fit: contain;
        opacity: 1;
    }
}