<div class="quick-link-wrapper">
    <div class="image-link-wrapper">
        <a href="https://levoni.itch.io/">
            <img src="./assets/itch-io_logo.png"> 
        </a>
    </div>
    <div class="image-link-wrapper">
        <a href="https://github.com/Levoni">
            <img src="./assets/github_logo.png">
        </a>
    </div>
    <div class="image-link-wrapper">
        <a href="https://www.linkedin.com/in/levon-swenson-870496237/">
            <img src="./assets/linkedin_logo.png">
        </a>
    </div>
    <div class="quick-link-footer"></div>
</div>