/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}
:target {
    scroll-margin-top: 5rem;
  }
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    // background-color: rgb(53, 54, 58);
}

.cover {
    transform: translateY(-100%);
    transition-duration: .25s;
  }

.uncover {
    transform: translateY(0);
    transition-duration: .25s;
    scroll-margin-top: 50px;
}

.scale-from-left {
    transform: scaleX(0);
    transition-delay: 0s;
    transition-duration: 1s;
    transform-origin: left;
}

.slide-up {
    transform: translateY(-100px);
    transition-duration: 1s;
}

.slide-right {
    transform: translateX(100px);
    transition-duration: 1s;
}

.slide-left {
    transform: translateX(-100px);
    transition-duration: 1s;
}

.full-scale-from-left {
    transform: scaleX(1);
    transform-origin: left;
    transition-delay: .4s;
    transition-duration: 1s;
}

.return {
    transform: translateY(0%);
    transition-duration: 1s;
}

.appear {
    opacity: 1;
    transition-duration: 1s;
}

.noAppear {
    opacity: 0;
    transition-duration: 1s;
}

//dark theme stuff
.dark-theme {

    & .body {
        background-color: rgb(53, 54, 58);
        color: rgb(232, 234, 237);
    }

    & .body select {
        background-color: rgb(53, 54, 58);
        color: rgb(232, 234, 237);
    }

    & .body .project-card-wrapper {
        box-shadow:  0px 5px 15px 0px rgb(0 0 0 / 80%);
    }

    & .body .breaking-div {
        border-top: 1px solid rgb(232, 234, 237);
    }

    & .body .about-me-wraper {
        box-shadow:  0px 5px 15px 0px rgb(0 0 0 / 80%);
    }

    & .body li::before {
        background-color: rgb(53, 54, 58);
    }

    & .body .arrow {
        border: solid  rgb(232, 234, 237);
        margin-left: 25px;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
}
