<div appElasticHide class="header">
    <div style=" display: flex; justify-content: flex-start; align-items: center;">
        <div class="logo-img-wrapper">
            <img (click)='goToTop()' src="./assets/LS_Logo_Cut.png">
        </div>
        <div style="display: flex; flex: 1; justify-content: space-between; max-width: 500px;">
            <div (click)='goToElement("aboutMe")' class="linkDiv">About</div>
            <div (click)='goToElement("educationWork")' class="linkDiv">Experience/Skills</div>
            <div (click)='goToElement("projects")' class="linkDiv">Projects</div>
        </div>
    </div>
    <div class="linkDiv" style="padding-right: 50px; display: flex;align-items: center; color:white;">
        <div>
            Dark Theme:
        </div>
        <div>
            <app-toggle (toggle)="toggleDarkMode($event)"></app-toggle>
        </div>
    </div>
</div>