.centerHeader {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.body {
    padding-left: 200px;
    padding-right: 200px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

