.centerHeader {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.body {
    padding-left: 200px;
    padding-right: 200px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgFill {
    height: 200px; 
    object-fit: contain; 
    padding-right: 50px; 
    padding-bottom: 50px;
}

@media screen and (max-width: 740px) {
    .imgFill {
        width: 100%;
        height: auto;
    }
}



