<div id="aboutMe" style="padding: 20px; box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);" [ngClass]="{'appear return': divclass, 'noAppear slide-left': !divclass}" appAppear [singleAppear]='false' (appear)="test($event)">
    <div class="centerHeader">About Me</div>
    <div  class="aboutSection">
        <div style="display: flex; justify-content: flex-start; flex-wrap: wrap;">
            <img class="imgFill" src="../../../assets/Self.jpg"/>
            <div style="padding-bottom: 50px;">
                <div style="font-size: 24px">Basic Info</div>
                <br>
                <div>Location: Wisconsin</div>
                <br>
                <div>Age: 24</div>
                <br>
                <div>Best languages: C#, TypeScript/JavaScript, and SQL</div>
                <br>
                <div>Best Tech Stacks: .Net and Angular</div>
            </div>
        </div>
        <div style="flex: 1">
            <div>Hello! I am a full stack developer based in Wisconsin.</div>
            <br>
            <div>From a young age I've had an enquisitive mind and enjoyed problem solving. This has extended to multiple area's of my life but none more so than technology and the createion of software. This has led to me learning different technologies and working on several projects on my own time.</div> 
            <br>
            <div>While studying at the university of wisconsin - Platteville I aquired valuable skills and techniques. After graduation I started working at Experity on their medical practice management softare. I have continued to learn and improve my abilities and will continue to do so in the future.</div>
            <br>
        </div>
    </div>
</div>